@media print {
	body {
		padding: 0px;
		width: 100%;
	}

	.header, .blog-footer {
		display: none;
	}

	.entete {
		margin-top: 0px;
	}

	.info_timeline ul li .con h5 {
		margin-bottom: 0;
	}
	.info_timeline ul li .con p {
		margin-bottom: 14px;
	}
}