@media print {
	body {
		padding: 0px;
		width: 100%;
	}

	.header, .blog-footer {
		display: none;
	}
	.card {
		margin-bottom: 10px;
	}
	.entete {
		margin-top: 0px;
	}
	.list-group-item {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.info_timeline ul li .con h5 {
		margin-bottom: 0px;
	}
	.info_timeline ul li .con p {
		margin-bottom: 12px;
	}
}
